<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KBS Online Code Editor</title>
    <link rel="stylesheet" href="css/users.css">
   
    <style>
        /* Your existing styles */
    </style>
</head>
<body>
  
    <h1> Users List</h1>
    <table>
        <thead>
            <tr>
                <th>SN</th>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= user._id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td>
                        <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
                            <button type="submit">
                              Delete
                            </button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
